@font-face {
  font-family: "iconfont"; /* Project id 3475448 */
  src: url('iconfont.woff2?t=1655738626668') format('woff2'),
       url('iconfont.woff?t=1655738626668') format('woff'),
       url('iconfont.ttf?t=1655738626668') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before {
  content: "\e62d";
}

.icon-dianpu:before {
  content: "\e600";
}

.icon-jia:before {
  content: "\e601";
}

.icon-xiai:before {
  content: "\e602";
}

.icon-shiwujiaoxing:before {
  content: "\e634";
}

.icon-facebookfacebook52:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-work-copy:before {
  content: "\e611";
}

.icon-emizhifeiji:before {
  content: "\e649";
}

.icon-solid-home:before {
  content: "\e641";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-LOGO:before {
  content: "\e662";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-qiubingqilin:before {
  content: "\e612";
}

.icon-youxiji:before {
  content: "\e60a";
}

.icon-icon-test:before {
  content: "\e607";
}

.icon-dianhua:before {
  content: "\eb23";
}

.icon-tiyuguan:before {
  content: "\e618";
}

.icon-weizhi:before {
  content: "\e60d";
}

.icon-zhuzhi_chengshi:before {
  content: "\e689";
}

.icon-xiangji:before {
  content: "\e8c7";
}

.icon-weizhi1:before {
  content: "\e61a";
}

.icon-yinshibaike:before {
  content: "\e604";
}

.icon-shucai:before {
  content: "\e62b";
}

.icon-clown:before {
  content: "\e7bb";
}

.icon-a-shuangyinhaozuo3x:before {
  content: "\e61c";
}

